API_KEY=sua_chave_openweather

# Endereço e porta do banco (usado só pelo Python, não é lido pelo container)
DB_HOST=127.0.0.1 # Funciona sem erros invés de localhost
DB_PORT=3306

# Usuário com acesso restrito ao banco DB_NAME — usado pela aplicação no dia a dia
DB_USER=seu_usuario
DB_USER_PASSWORD=sua_senha
DB_NAME=pipeline_clima

# Senha do usuário root — acesso total ao servidor, só para uso administrativo manual
DB_ROOT_PASSWORD=senha_root